{% extends 'main/layout.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <h1 class="text">срофиль</h1>
    {% if user.is_authenticated %}
        <h1>Доступные ссылки</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.full_link }}
            {{ form.short_link }}
            <span>{{ error }}</span>
            <button class="btn-account-create" style="width: 75px" type="submit">Создать ссылку</button>
        </form>
        {% for data in link %}
            {% if data.author|lower == user.username|lower %}
                <h3>{{ data.full_link }} {{ data.short_link }}</h3>
            {% endif%}
        {% endfor %}
    {% else %}
        <p class="text">
            Вы не вошли в аккаунт!!!
            <a class="text" style="color: #b2b2b2" href="{% url 'login' %}">Войдите</a>
            или
            <a class="text" style="color: #b2b2b2" href="{% url 'register' %}">Создайте новый</a>
        </p>
    {% endif %}
{% endblock %}