{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="wrapper">
    <nav class="nav-body">
        {% if user.is_authenticated %}
            <a class="nav-account" href="{% url 'account_home' %}">
                <div class="account">
                    <p style="padding: 3px 0 0 15px">{{ user.username }}</p>
                </div>
            </a>

        {% else %}
            <a class="nav-account" href="{% url 'login' %}">
                <div class="account">
                    <p style="padding: 3.75px 0 0 15px">Войдите</p>
                </div>
            </a>
        {% endif %}
        <ul class="navbar">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
            <a class="nav-link" href="{% url 'about' %}">Про нас</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'links' %}">Доступные ссылки</a>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="foot_body">
    </footer>
</div>

</body>
</html>